<footer class="container row">
    <div class="social">
        <a href="https://www.linkedin.com/in/alyssa-fremin/"><i class="social__link fab fa-linkedin"></i></a>
        <a href="https://twitter.com/Lyssa74228513"><i class="social__link fab fa-twitter-square"></i></a>
        <a href="https://github.com/LyssaFremin"><i class="social__link fab fa-github-square"></i></a>
        <a href="https://www.instagram.com/alyssadoesstuff/"><i class="social__link fab fa-instagram-square"></i></a>
    </div>
    <div class="copyright">
       <p>Copyright &copy; Code Away With Me {{ year }}</p>
    </div>
    </footer>

<script src="https://kit.fontawesome.com/ab7336ae43.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

</body>
</html>
